.c-visual-search{
  display: grid;
  grid-template-areas: "cl cr";
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

.c-visual-search .c-left{
  grid-area: cl;
}
.c-visual-search .c-right{
  grid-area: cr;
}


.UploadImg img{
  width: 100%;
}


.d-search-button{
  display: grid;
  grid-template-areas: "bl br";
  grid-template-columns: 1fr 1fr;
}
.d-search-button-l{
  grid-area: bl;
  text-align: center;
}
.d-search-button-r{
  grid-area: br;
  text-align: center;
}
